# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 5

print(number)

5

##### Assinging float

In [3]:
numberFloat = 3.5

print(numberFloat)

numberFloat = 7.2
print(numberFloat)

3.5
7.2

#### Performing Calculations on ints and floats

##### Addition

In [10]:
num1 = 5
num2 = 3.4

result = num1 + num2
print(result)

result +=2
print(result)

8.4
10.4

##### Subtraction

In [13]:
diff_result = num1 - num2
print(diff_result)

diff_result -= 1
print(diff_result-1)

1.6
-0.3999999999999999

##### Multiplication

In [15]:
mul_result = num1 * num2
print(mul_result)

mul_result *=2
print(mul_result)

17.0
34.0

##### Division

In [19]:
div_result = num1/num2
print(div_result)

div_result /=2
print(div_result)

1.4705882352941178
0.7352941176470589

##### Floor Division

In [22]:
floor_result = num1 // num2
print(floor_result)

floor_result //=2
print(floor_result)

1.0
0.0

##### Modulo

In [41]:
num1 = 10
num2 = 4
Mod_Result = num1 % num2
print(Mod_Result)

Mod_Result %=1.5
print(Mod_Result)

2
0.5

##### Exponential

In [44]:
square = 5 ** 3
print(square)

square **=2
print(square)

125
15625

### String Input-Output

##### String Assignment

In [45]:
name = "Aparna"
print(name)

Aparna

##### print() <br>
<p>Don't forget about end=' '</p>

In [51]:
print("My first name is" ,name)
print("My Full name is" , name , end=" Akula")

My first name is Aparna
My Full name is Aparna Akula

##### String Concatenation

In [4]:
first_name = 'Aparna'
last_name = 'Akula'

full_name = first_name + " " + last_name
print(full_name)

full_name += " Mrs"
print(full_name)

Aparna Akula
Aparna Akula Mrs

##### Type Conversion

In [13]:
number = '33'

change_type_number = int(number)
print(change_type_number)

change_type_number +=1
print(change_type_number)

33
34

##### input()

In [14]:
# name = input("What is your name?")
# print(name + " " + "is a good girl")

age = int(input("What is your age?: "))
add_age = age + 5
print(add_age)

What is your age?: 33
38

##### format()

In [15]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!" .format(age, name)
print(result_string)

result_string = f"{age} is a great time in life!!!"
print(result_string)

What is your age? 33
You are 33 Vaishvi and you are getting wiser!
33 is a great time in life!!!

##### Old Way (python 2)

In [20]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 33 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [23]:
name = input("What is your name?: ")
color = input("What is color of your car?: ")
year = input("What is the year?: ")
make = input("What is model is your car?: ")
result = f"{name}, your {year} {make}'s color is {color}."

print(result)

What is your name?: Aparna
What is color of your car?: Silver
What is the year?: 2017
What is model is your car?: Altima
Aparna, your 2017 Altima's color is Silver.

### If Statements

In [30]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0
# if num1 == num2:
#     print('Equal Values')
# else:
#     print('Not Equal')
if num2 > num1 or num3 > 0:
    print('This ran!')
elif num1 > num2:
    print('Num1 is greater')
else:
    print('You are here')

This ran!

##### 'is' keyword

In [31]:
num3 = 55

if num3 == 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [35]:
#  Check if a character is in a string

char_name = "Frodo Baggins"

if "F" in char_name:
    print("It is not ring bearer")

It is not ring bearer

##### 'not in' keyword'

In [33]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print('a is NOT here....')

a is NOT here....

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [36]:
must_have = "Experice"

if "p" in must_have:
    print('True')
else: 
    print('False')

True

## Using 'and'/'or' with If Statements

In [37]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with 'and' statement
if num_11 / 5 ==  num_12 and num_13 - 7 == num_14:
    print("True and True")

# If with 'or' statement
if num_11 > num_12 or num_13 == num_14:
    print('True and False')

True and True
True and False

### Elif Statements

In [39]:
first_name = input('What is your name? ')

if first_name == 'Smith':
    print('The name is Smith.')
elif first_name == "Brandon":
    print('The name is Brandon')
elif first_name != 'Max':
    print('The name is NOT Max')
else:
    print('The name is Max')

What is your name? Brandon
The name is Brandon

### Else Statements

In [ ]:
# see above

### For Loops

In [40]:
name = "Aparna Akula"

for i in name:
    print(i)

A
p
a
r
n
a

A
k
u
l
a

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [41]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [42]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [44]:
for i in name:
    pass

##### Double For Loops

In [45]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [46]:
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [47]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to stop? ')
    if user_input == 'Yes':
        game_over = False

Infinite Loop
Would you like to stop? No
Infinite Loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [48]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i))
    
    num += 1

While loop iteration: 0
For loop iteration:  0
For loop iteration:  1

While loop iteration: 1
For loop iteration:  0
For loop iteration:  1

While loop iteration: 2
For loop iteration:  0
For loop iteration:  1

While loop iteration: 3
For loop iteration:  0
For loop iteration:  1

While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [49]:
# range(Start, stop, step)

for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [50]:
name = input("Give me the name of your favorite book: ")

length = len(name)
print(length)

Give me the name of your favorite book: Bhagavad Gita
13

##### help()

In [51]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [52]:
# Check a variable to find out what object family (or data type) it belongs to
# isinstance(var, type)
num = 4.5
if isinstance(num, int):
    print(f"{num} is an int!")
else:
    print(f"{num} is a float!")

4.5 is a float!

##### abs()

In [53]:
# |-5| = 5 

print(abs(-5))

5

### Try and Except

In [57]:
# Use this to log out graceful and useful error messages
# Does not stop the program! Neato!

try:
    input_num = int(input('Guess a number'))
    print('Your name is ' + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a number23
Your name is 23

### Lists

##### Declaring Lists

In [58]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', "bob", 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

In [59]:
# list_name[start: stop: step]

# Single Index
print(names[1])

# Print starting at index 1 going to the end
print(names[1:])

# Print starting at the beginning of a list up until a number
print(names[:2])

# Print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

# Print starting at the back and display in reverse order
print(names[::-1])

Cindy
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [60]:
names.append('Aparna')
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Aparna']

##### .insert()

In [61]:
names.insert(3, 'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'bob', 'Nate', 'Aparna']

##### .pop()

In [62]:
# Defaults to the last value if no parameter is given
# Pop returns the element that was removed in casee you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Devon', 'bob', 'Nate', 'Aparna']


##### .remove()

In [63]:
# Value to be removed rather than index
# names.remove('bob')
# print(names)

while 'Aparna' in names:
    names.remove('Aparna')
print(names)

['Max', 'Cindy', 'Devon', 'bob', 'Nate']

##### del()

In [64]:
# Goes by index, rather than value
# Be careful with del, it can cause indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Devon', 'bob', 'Nate']

##### Concatenating Two Lists

In [65]:
# Will append two lists together, will NOT add the values!!

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [69]:
# List can hold ANY type of other element! Including other lists!
# They can go as deep as you want; this is called nested lists

names = ["Max", "sam", "Josh", ["Sally", ["Sue", "Jim"], "Tameka"]]
print(names)
print(names[3][1][1])

['Max', 'sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
Jim

##### Looping Through Lists

In [70]:
# Two ways to loop through a list! One is by index; the other is by using the 'in' keyword

# By index
for i in range(len(names)):
    print(names[i])
    
# Loop with 'in'
for i in names:
    print(i)

Max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']
Max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [71]:
for i in range(100):
    num = i**3
    if num > 1000:
        break
    else:
        print(num)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [73]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for a in range(100):
    num = True
    for b in range(2, a):
        if a % b == 0:
            num = False
        if num == True:
            print(a)
            break

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [74]:
age = int(input("What is your age? "))

# If a person is younger than 18
if age <= 18:
    print('Kids')

# If a person is 18 to 65
if age >= 18 and age <= 65:
    print('Adults')
else:
  if age > 65:
    print('Seniors')

What is your age? 33
Adults